html,
*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

* {
  outline: 0; }

main {
  display: block; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none; }

button,
input {
  overflow: visible; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button {
  border: 0;
  outline: 0; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

[hidden] {
  display: none; }

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border-style: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

label {
  margin-bottom: 0; }

li {
  list-style: none; }

ul {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

:root {
  --html-fs: 1px;
  --font-family: "Noto Serif TC", sans-serif;
  --second-family: "Noto Sans TC", sans-serif;
  --third-family: "Roboto", sans-serif;
  --transition: 0.2s all ease-in-out;
  --text-400-24: normal 400 24px / 125% var(--font-family);
  --text-400-20: normal 400 20px / 300% var(--font-family);
  --text-400-19: normal 400 19px / 316% var(--font-family);
  --text-400-18: normal 400 18px / 125% var(--font-family);
  --text-400-16: normal 400 16px / 137% var(--font-family);
  --text-400-13: normal 400 13px / 169% var(--font-family);
  --text-400-84s: normal 400 84px / 90% var(--second-family);
  --text-400-72s: normal 400 72px / 105% var(--second-family);
  --text-400-52s: normal 400 52px / 105% var(--second-family);
  --text-400-37s: normal 400 37px / 125% var(--second-family);
  --text-400-32s: normal 400 32px / 105% var(--second-family);
  --text-400-25s: normal 400 25px / 105% var(--second-family);
  --text-400-24s: normal 400 24px / 125% var(--second-family);
  --text-400-18s: normal 400 18px / 167% var(--second-family);
  --text-400-14s: normal 400 14px / 167% var(--second-family); }

html {
  font-size: var(--html-fs); }

body {
  font-size: 16px;
  font-family: var(--third-family);
  background: #1e1e1e; }

.wrapper {
  max-width: 1200px;
  margin-inline: auto;
  background: #fdf9f1;
  padding: 20px; }

.icon {
  fill: #2A1804;
  transition: var(--transition); }

.icon:hover {
  fill: #b3b0a3; }

img,
svg {
  cursor: pointer; }

*::-webkit-scrollbar {
  width: 10rem;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0); }

* ::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  background-color: #d1d1d1; }

.header__nav {
  display: flex;
  background: #b3b0a3;
  gap: 10px;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px; }
  @media (max-width: 768px) {
    .header__nav {
      justify-content: center; } }
  .header__nav-a {
    font: var(--text-400-19);
    color: #2A1804;
    padding-left: 20px;
    transition: var(--transition); }
    .header__nav-a:hover {
      color: #fdf9f1; }

.welcome {
  display: flex;
  flex-direction: column; }
  .welcome__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 90px; }
    @media (max-width: 576px) {
      .welcome__nav {
        margin-bottom: 50px; } }
    .welcome__nav-a {
      font: var(--text-400-20);
      color: #2A1804;
      transition: var(--transition); }
      .welcome__nav-a:hover {
        color: #b3b0a3; }
  .welcome__section {
    display: flex;
    justify-content: center; }
    @media (max-width: 768px) {
      .welcome__section {
        margin-inline: auto;
        flex-direction: column;
        gap: 50px; } }
    @media (max-width: 576px) {
      .welcome__section {
        padding: 0 40px; } }
    .welcome__section-block:nth-child(1):hover {
      left: 40px; }
      @media (max-width: 768px) {
        .welcome__section-block:nth-child(1):hover {
          left: 0; } }
    .welcome__section-block:nth-child(2) {
      top: -60px;
      left: -120px; }
      @media (max-width: 768px) {
        .welcome__section-block:nth-child(2) {
          top: 0;
          left: 0; } }
    .welcome__section-block:nth-child(3) {
      left: -150px;
      height: 100%; }
      @media (max-width: 768px) {
        .welcome__section-block:nth-child(3) {
          left: 0; } }
    .welcome__section-block {
      position: relative;
      max-width: 490px;
      transition: var(--transition); }
      .welcome__section-block:hover {
        scale: 1.2;
        z-index: 2; }
      .welcome__section-block__info {
        position: absolute;
        left: 10%;
        transform: translateX(-10%);
        bottom: 2px;
        cursor: pointer;
        font: var(--text-400-18s);
        color: #2A1804; }
        @media (max-width: 992px) {
          .welcome__section-block__info {
            font: var(--text-400-14s); } }
      .welcome__section-block .background {
        padding: 20px;
        background: #fff;
        width: 95%;
        margin-left: 4%; }
        @media (max-width: 992px) {
          .welcome__section-block .background {
            padding: 10px; } }

.cookbook {
  padding: 140px 30px 200px 30px; }
  @media (max-width: 576px) {
    .cookbook {
      padding: 70px 30px 100px 30px; } }
  .cookbook__title {
    font: var(--text-400-72s);
    color: #2A1804;
    margin-bottom: 100px; }
    @media (max-width: 992px) {
      .cookbook__title {
        font: var(--text-400-52s); } }
    @media (max-width: 576px) {
      .cookbook__title {
        font: var(--text-400-32s);
        margin-bottom: 50px; } }
    @media (max-width: 480px) {
      .cookbook__title {
        font: var(--text-400-25s); } }
  .cookbook__img {
    transition: var(--transition); }
    @media (max-width: 576px) {
      .cookbook__img:hover {
        scale: 1.2; } }

.recipes {
  padding: 0 30px 125px 30px; }
  @media (max-width: 576px) {
    .recipes {
      padding: 0 10px 65px 10px; } }
  .recipes__title {
    font: var(--text-400-84s);
    color: #2A1804;
    margin-bottom: 60px; }
    @media (max-width: 992px) {
      .recipes__title {
        font: var(--text-400-72s); } }
    @media (max-width: 576px) {
      .recipes__title {
        font: var(--text-400-52s);
        margin-bottom: 50px; } }
    @media (max-width: 480px) {
      .recipes__title {
        font: var(--text-400-32s); } }
  .recipes__info {
    font: var(--text-400-24);
    color: #2A1804; }
    @media (max-width: 576px) {
      .recipes__info {
        font: var(--text-400-18); } }

.cooking {
  padding: 0 30px 120px 30px; }
  .cooking__title {
    font: var(--text-400-37s);
    color: #2A1804;
    margin-bottom: 30px; }
  .cooking__section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px; }
    .cooking__section-block {
      max-width: 280px; }
      .cooking__section-block__img {
        margin-bottom: 23px; }
      .cooking__section-block__desc {
        font: var(--text-400-24s);
        color: #2A1804;
        margin-bottom: 7px; }
      .cooking__section-block__text {
        font: var(--text-400-13);
        color: #2A1804; }
      .cooking__section-block .text {
        font: var(--text-400-16); }

/*# sourceMappingURL=style.css.map */
