:root {
  --html-fs: 1px;
  --font-family: "Noto Serif TC", sans-serif;
  --second-family: "Noto Sans TC", sans-serif;
  --third-family: "Roboto", sans-serif;
  --transition: 0.2s all ease-in-out;

  --text-400-24: normal 400 24px / 125% var(--font-family);
  --text-400-20: normal 400 20px / 300% var(--font-family);
  --text-400-19: normal 400 19px / 316% var(--font-family);
  --text-400-18: normal 400 18px / 125% var(--font-family);
  --text-400-16: normal 400 16px / 137% var(--font-family);
  --text-400-13: normal 400 13px / 169% var(--font-family);

  --text-400-84s: normal 400 84px / 90% var(--second-family);
  --text-400-72s: normal 400 72px / 105% var(--second-family);
  --text-400-52s: normal 400 52px / 105% var(--second-family);
  --text-400-37s: normal 400 37px / 125% var(--second-family);
  --text-400-36s: normal 400 36px / 128% var(--second-family);
  --text-400-32s: normal 400 32px / 105% var(--second-family);
  --text-400-25s: normal 400 25px / 105% var(--second-family);
  --text-400-24s: normal 400 24px / 125% var(--second-family);
  --text-400-23s: normal 400 23px / 130% var(--second-family);
  --text-400-18s: normal 400 18px / 167% var(--second-family);
  --text-400-14s: normal 400 14px / 167% var(--second-family);
}
$color-h1: #333;
$color-nav: #022a1e;

$color-title: #2A1804;
$text-white: #fff;
$background-nav: #b3b0a3;
$background-wrapper: #fdf9f1;
$background-1: #d9d9d9;
$background-2: #ceedd6;
