html {
  font-size: var(--html-fs);
}
body {
  font-size: 16px;
  font-family: var(--third-family);
  background: rgb(30, 30, 30);
}
.wrapper {
  max-width: 1200px;
  margin-inline: auto;
  background: $background-wrapper;
  padding: 20px;
}
.icon {
  fill: $color-title;
  transition: var(--transition);
}
.icon:hover {
  fill: $background-nav;
}
img,
svg {
  cursor: pointer;
}
