.category {
  padding: 150px 30px;
  @include tablet {
    padding: 100px 10px;
  }
  &-title {
    font: var(--text-400-22s);
    color: $color-title;
    margin-bottom: 50px;
  }
  &-section {
    @include f-s-c;
    gap: 20px;
    &__block {
      max-width: 190px;
      &-desc {
        font: var(--text-400-15t);
        color: $color-title;
        margin-bottom: 25px;
      }
    }
  }
}
