.dish {
  padding: 0 30px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  row-gap: 80px;
  @include mobile {
    padding: 50px 10px;
  }
  &-block {
    max-width: 280px;
    transition: var(--transition);
    &:hover {
      scale: 1.2;
    }
    &__img {
      margin-bottom: 20px;
    }
    &__title {
      font: var(--text-400-22s);
      color: $color-title;
      margin-bottom: 10px;
    }
    &__docs {
      font: var(--text-400-14);
      color: $color-title;
    }
  }
}
