.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 100px;
  padding: 60px 30px 200px 30px;
  @include mobile {
    padding: 40px 10px 100px 10px;
  }
 
  &__block {
    max-width: 280px;
    &-img {
      transition: var(--transition);
      margin-bottom: 23px;
      &:hover {
        scale: 1.1;
      }
    }
    &-title {
      font: var(--text-400-22s);
      color: $color-title;
      margin-bottom: 7px;
    }
    &-desc {
      font: var(--text-400-15);
      color: $color-title;
    }
  }
}
